# Copyright (C) 2023-2024 Paranoid Android
#
# SPDX-License-Identifier: Apache-2.0

service nqnfc_2_0_hal_service /vendor/bin/hw/vendor.nxp.hardware.nfc@2.0-service
    class early_hal
    user nfc
    group nfc
    override
    enabled

service secureelement-hal_1_2 /vendor/bin/hw/vendor.qti.secure_element@1.2-service
    class early_hal
    user system
    group system
    override
    enabled

service qti_esepowermanager_service_1_1 /vendor/bin/hw/vendor.qti.esepowermanager@1.1-service
    class early_hal
    user system
    group nfc system
    override
    enabled

on boot
    # Powershare
    chown system system /sys/class/qcom-battery/reverse_chg_mode
    chmod 0666 /sys/class/qcom-battery/reverse_chg_mode